

<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Panel de transaciones</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Venta #</th>
                            <th>Pedido</th>
                            <th>Estado</th>
                            <th>Finalizado</th>
                            <th>Cantidad</th>
                            <th>Vendedor</th>
                            <th>Comprador</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sales.each do |sale| %>
                            <tr>
                                <td><%= sale.id %></td>
                                <td><%= sale.sold %></td>
                                <td><%= sale.status %></td>
                                <td>#</td>
                                <td><%= sale.cuantity %></td>
                                <td><%= sale.user.name %></td>
                                <td><%= sale.buyer %></td>
                                <td><%= sale.total %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">Ver todas <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>