

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Panel de transaciones</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Creada</th>
                            <th>Procesada</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Evento</th>
                            <th>Vendedor</th>
                            <th>Comprador</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sales.each do |sale| %>
                            <tr>
                                <td><%= sale.id %></td>
                                <td><%= sale.sold %></td>
                                <td><%= sale.processed %></td>
                                <td><%= sale.status %></td>
                                <td><%= sale.cuantity %></td>
                                <td><%= sale.event.title %></td>    
                                <td><%= sale.user.name %></td>    
                                <td><%= sale.buyer %></td>
                                <td><%= sale.total %> <i class="fa fa-eur"></i></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">Ver todas <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <h1><%= @total_entradas + @my_total[1] + @boss_total[1] %> <small>entradas vendidas</small></h1>
    <h1><%= @my_total[0] %> <small>€ vendido por mi</small></h1>
    <h1><%= @total_team + @my_total[0] + @boss_total[0] %> <small>€ ventas de equipo</small></h1>
</div>