

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Panel de transaciones</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
               <h1>Mis ventas</h1>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Creada</th>
                            <th>Procesada</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Evento</th>
                            <th>Vendedor</th>
                            <th>Comprador</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @sales.each do |sale| %>
                        <% if sale.status == "Pagado" %>
                        <tr class="success">
                            <% else %>
                        <tr class="warning">
                            <% end %>
                                <td><%= sale.id %></td>
                                <td><%= sale.sold %></td>
                                <td><%= sale.processed %></td>
                                <td><%= sale.status %></td>
                                <td><%= sale.cuantity %></td>
                                <td><%= sale.event.title %></td>    
                                <td><%= sale.user.name %></td>    
                                <td><%= sale.buyer %></td>
                                <td><%= sale.total %> <i class="fa fa-eur"></i></td>
                                <% if sale.status != "Pagado" %>
                                    <td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-spinner"></i> Procesar</a></td>
                                <% else %>
                                    <td><a href="#" class="btn btn-default btn-xs">Procesado</a></td>
                                <% end %>

                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <hr>
                <h1>Ventas de equipo</h1>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Creada</th>
                            <th>Procesada</th>
                            <th>Estado</th>
                            <th>Cantidad</th>
                            <th>Evento</th>
                            <th>Vendedor</th>
                            <th>Comprador</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @team_sales.each do |sale| %>
                        <% if sale.status == "Pagado" %>
                        <tr class="success">
                            <% else %>
                        <tr class="warning">
                            <% end %>
                            <td><%= sale.id %></td>
                            <td><%= sale.sold %></td>
                            <td><%= sale.processed %></td>
                            <td><%= sale.status %></td>
                            <td><%= sale.cuantity %></td>
                            <td><%= sale.event.title %></td>    
                            <td><%= sale.user.name %></td>    
                            <td><%= sale.buyer %></td>
                            <td><%= sale.total %> <i class="fa fa-eur"></i></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="#">Ver todas <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <a href="<%= new_control_sale_path %>" class="btn btn-success btn-block"><i class="fa fa-credit-card"></i> Nueva venta</a>
    <a href="#" class="btn btn-warning btn-block"><i class="fa fa-eye"></i> Revisar ventas reservadas</a>
    <h1><%= @my_total[1]  %> <small>entradas vendidas</small></h1>
    <h1><%= @my_total[0] %> <small>€ obtenidos</small></h1>
    <hr>
    <h1><%= @my_total[1] +@total_entradas  %> <small>entradas vendidas equipo</small></h1>
    <h1><%= @my_total[0] + @total_team %> <small>€ obtenidos equipo</small></h1>
    <hr>
</div>