<div class="row">
    <div class="col-md-6 well">

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img src="<%= @event.flyer %>" alt="" class="media-object" width="200px" heigth="auto">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Informacion de evento</h3>
                <p><b><i class="fa fa-home"></i> Fiesta:</b> <span class="pull-right"><%= @event.title %></span></p>
                <p><b><i class="fa fa-envelope-o"></i> Local:</b> <span class="pull-right"><%= @event.house %></span></p>
                <p><b><i class="fa fa-ticket"></i> Ubicacion:</b> <span class="pull-right"><%= @event.locate %></span></p>
                <p><b><i class="fa fa-calendar"></i> Fecha:</b> <span class="pull-right"><%= @event.date %></span></p>
                <p><b><i class="fa fa-money"></i> Precio:</b> <span class="pull-right"><%= @event.price %></span></p>
                <p><b><i class="fa fa-money"></i> Comision:</b> <span class="pull-right"><%= @event.commission %></span></p>
                <p><b><i class="fa fa-users"></i> Capacidad:</b> <span class="pull-right"><%= @event.capacity %></span></p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="<%= @event.capacity %>" style="width: 85%;">
                        60%
                    </div>
                </div>
                <p><b><i class="fa fa-star"></i> Creado:</b> <span class="pull-right"><%= @event.created_at.strftime('%d - %B - %Y') %></span></p>


            </div>
        </div>

    </div>
    <div class="col-md-5 col-md-offset-1 well">
        <h1 class="text-center">Acciones</h1>
        <hr>
        <a href="<%= control_event_take_path(@event.id) %>" class="btn btn-success btn-block"><%= t('Solicitar') %></a>
        <a href="" class="btn btn-danger btn-block"><i class="fa fa-trash"></i> Bloquear evento</a>
        <a href="" class="btn btn-warning btn-block"><i class="fa fa-bell"></i> Realizar cambios</a>
    </div>
</div>
