<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
       <img src="/assets/images/logo.png" alt="">
        <% if current_user == nil || current_user.status == 'activo' %>
            <h1 class="element"><%= t('Home_titulo') %></h1>
            <h3 class="element"><%= t('Home_description') %></h3>        
        <br>
        <a  class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"><%= t('Soliciar_cuenta') %></a>
        <a href="#about" class="btn btn-info btn-lg"><%= t('Informarse') %></a> 
        <% else %>
        <div class="">
            <h1>Tu cuenta esta siendo revisada</h1>
        </div>
        <% end %>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">                
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- About -->
<section id="servicios" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">                
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 alert alert-info">
                <h2>Solicitar cuenta</h2>
                <div class="">
                    <%= form_for @user,  url: invitation_user_path do |f| %>

                    <div class="field">
                        <%= f.label :name %><br />
                        <%= f.text_field :name, autofocus: true, class:'form-control' %>
                        <%= f.label :last_name %><br />
                        <%= f.text_field :last_name, class:'form-control' %>
                    </div>

                    <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, class:'form-control' %>
                    </div>

                    <div class="field">
                        <%= f.label :password %>
                        <% if @validatable %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
                    </div>

                    <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Sign up", class:'btn btn-success btn-block' %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>