<div class="container well">
    <div class="row">
        <h2>Filtrado de grupos</h2>
        <div class="col-lg-9">
            <input type="search" class="form-control" id="input-search" placeholder="¿Que buscas?" >
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#bloqueados"><i class="fa fa-minus-circle"></i> Usuarios bloqueados</a>
        </div>
        <hr>
        <hr>
        <div class="searchable-container">
            <% @events.each do |event| %>
            <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
                <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <span class="fa fa-ticket fa-5x"></span>
                    </div>
                    <h5>Lugar: <%= event.house %></h5>
                    <h4>Titulo: <%= event.title %></h4>
                    <p>Jefe: <span class="label label-success"><i class="fa fa-users"></i> <%= event.boss.name %></span></p>
                    <span>Email: <%= event.date %></span><br>
                    <a href="<%= sauron_group_path(event.id) %>" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i> Ver equipo</a>
                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-support"></i> Enviar mensaje al grupo</a>
                    <a href="<%= sauron_group_block_path(event.id) %>" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i> Bloquear grupo</a>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
