<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Administracion - GetTeam</title>
        

        <!-- Bootstrap Core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/animate.css" rel="stylesheet">


        <!-- Custom CSS -->
        <link href="/assets/css/sb-admin.css" rel="stylesheet">
        <%= javascript_include_tag "/assets/js/jsapi.js", "chartkick" %>

        <!-- Custom Fonts -->
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">GetTeam</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="<%= control_index_path %>"><i class="fa fa-fw fa-dashboard"></i> Escritorio</a>
                        </li>
                        <li>
                            <a href="<%= control_employees_path %>"><i class="fa fa-fw fa-users"></i> Empleados</a>
                        </li>
                        <li>
                            <a href="<%= control_events_path %>"><i class="fa fa-fw fa-star"></i> Eventos</a>
                        </li>
                        <li>
                            <a href="<%= control_sales_path %>"><i class="fa fa-fw fa-money"></i> Ventas</a>
                        </li>
                        <li>
                            <a href="<%= control_reports_path %>"><i class="fa fa-fw fa-newspaper-o"></i> Informes</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if current_user.employees.size >= current_user.plan.max_users || current_user.events.size >= current_user.plan.max_events  %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="text-danger"><i class="fa fa-exclamation-triangle warning"></i> Limite de plan alcanzado</span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Eventos: <%= current_user.events.size %>/<%= current_user.plan.max_events %> </a></li>
                            </ul>
                        </li>
                        <% end %>  
                        <li>
                            <a href="<%= control_messages_path %>"><span class="label label-danger"><i class="fa fa-envelope-o"></i> <%= Message.get_unread_messages(current_user.id).size %> Mensajes </span> </a>
                        </li> 
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-at"></i><% if current_user %> <%= current_user.name %> <% end %> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><i class="fa fa-fw fa-barcode"></i>Perfil</a></li>
                                <li class="divider"></li>
                                <li><a href="<%= destroy_user_session_path %>"><i class="fa fa-fw fa-close"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

            <!-- Navigation -->
           
            <div id="page-wrapper">
         
                <div class="container-fluid">                 
                    <% if notice || alert %>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <i class="fa fa-info-circle"></i>  <strong>Sistema:</strong>
                                <%= notice %>
                                <%= alert %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <%= yield %>
                    
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/canvas.js"></script>
                
        <!-- Bootstrap Core JavaScript -->
        <script src="/assets/js/bootstrap.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/assets/js/plugins/morris/raphael.min.js"></script>
        <script src="/assets/js/plugins/morris/morris.min.js"></script>
        <script src="/assets/js/plugins/morris/morris-data.js"></script>
        

    </body>

</html>

        
