<!DOCTYPE html>
<html>
    <head>
        <title>GetTeam</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    </head>
    <body id="page-top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">GetTeam</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="<%= root_path %>">Inicio</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <% if current_user %>
                        <% if current_user.role == 'admin' %>
                        <li><a href="<%= sauron_index_path %>"><i class="fa fa-eye fa-2x"></i></a></li>  
                        <% end %>
                        <li><a href="<%= control_index_path %>"><i class="fa fa-tachometer fa-2x"></i></a></li>                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">                                
                                <li><a href="<%= edit_user_registration_path %>">Perfil</a></li>
                                <li><a href="<%= destroy_user_session_path %>">Logout</a></li> 
                            </ul>
                        </li>         
                        <% else %>
                        <li><a type="button" class="btn btn-default navbar-btn" href="<%= user_session_path %>">Acceso clientes</a></li>
                        <% end %>
                            
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

            <%= notice %>
            <%= alert %>
        
            <%= yield %>
    <script>
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
    </body>
</html>
